root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4


[{*.cs,*.cshtml}]
# Desativa a quebra de linha antes das chaves (Estilo K&R)
csharp_new_line_before_open_brace = none

# Garante que haverá um espaço entre os parênteses e a chave: Index() {
csharp_space_before_open_brace = method_declaration, control_blocks

# Mantém o 'else' colado na chave de fechamento: } else {
csharp_new_line_before_else = false

# Garante o mesmo comportamento para blocos try/catch/finally: } catch {
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false

# CS8600: Conversão de literal nula ou possível valor nulo em tipo não anulável.
dotnet_diagnostic.CS8600.severity = none
